body{
    margin: 0%;  /*ok*/
    /* margin-top: 0; */
    height: 100vh;  /*ok*/
    color: white;    /*ok*/
    display: flex;  /*ok*/
}
div{
    /* margin: 0%; */
}
/*.title{
    color: aliceblue;
} */
.menuLateral {
    background-color:rgb(94, 135, 224);  /*ok*/
    text-align: center;  /*ok*/
    border-top: 100px;
    margin: 0;  /*ok*/
    padding: 25px 0;  /*ok*/
    /* color: black; */
}
.pagDeProjeto{
    height: 100%;  /*ok*/
    width: 100%;   /*ok*/
    backface-visibility: inherit;
<<<<<<< HEAD
    
=======
>>>>>>> 402acf901ec7cc48e000e8ef7d1313703dce3699
}
.topo{
    display: flex;  /*ok*/
    color: gray;
}
.topo-stars{
    margin: auto;
<<<<<<< HEAD
    display: flex;  /*ok*/
}
.topo-forks{
    margin: auto;
    display: flex;  /*ok*/
}
.topo-contribs{
    margin: auto;
    display: flex;  /*ok*/
=======
}
.topo-forks{
    margin: auto;
}
.topo-contribs{
    margin: auto;
>>>>>>> 402acf901ec7cc48e000e8ef7d1313703dce3699
}
ul{
    background-color:  rgb(94, 135, 224);     /*ok*/
    width: 100%;  /*ok*/
    height: 100%;  /*ok*/
    /* margin: 0%; */
    text-decoration:none;  /*ok*/ 
}
.home{
    /* text-align: left; S    */
}
li{
    color: rgb(94, 135, 224);  /*ok*/
    text-align: right;  /*ok*/
    margin-right: 40px;   /*ok*/
    text-decoration:none;   /*ok*/
}
a {
    color: white;
    text-decoration:none; 
}
